/*================================================================================*/
/* Phone Gap Default*/
/*================================================================================*/


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}






/*================================================================================*/
/* Header*/
/*================================================================================*/


#topBar {
    position: fixed;
    width: 100%;
    height: 48px;
}

#patternName {
    font-size: 20px;
    margin: 0 auto;
}






/*================================================================================*/
/* Options Menu*/
/*================================================================================*/


#menu {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 40px; 
    transition: 0.6s;
    margin-top: 48px;
}

#menu .closebtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    color: #ccc;
}

.menuTitle {
    margin-left: 38vw;
    padding-bottom: 10px;
    font-size: 6vw;
    color: #ccc;
    font-weight: bold;
}

.optionTitle {
    margin-left: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 5vw;
    color: #ccc;
    padding-bottom: 5px;
}

.menuSeperator {
    padding-bottom: 20px;
}

#connectButton {
    color: green;
}






/*================================================================================*/
/* Pattern Menu*/
/*================================================================================*/


#patternMenu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 0px; 
    transition: 0.8s;
}

#patternMenu .closebtn {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    color: #ccc;
}

#patternList {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    color: #ccc;
}

#patternList li{
    padding-bottom: 10px;
}






/*================================================================================*/
/* Buttons
/*================================================================================*/


#recordButton {
    width: 80px;
    height: 80px;
    background-color: #111;
}
#recordImg {
    width: 40px;
    height: 40px;
}

#startStopButton {
    background-color: green;
}

#startStopImg {
    width: 40px;
    height: 40px;
}






/*================================================================================*/
/* StringMode Content*/
/*================================================================================*/


#stringModeContent {
    display: grid;
    grid-column: 7;
    grid-template-columns: auto;
    grid-row: 10; 
    grid-gap: 10px;
    grid-auto-rows: auto;
}

.stringModeButton {
    height: 60vh;
    width: 10vw;
    background-color: #666;
}

#s1 {
    grid-column: 2;
    grid-row: 1 / 10;
}

#s2 {
    grid-column: 3;
    grid-row: 1 / 10;
}

#s3 {
    grid-column: 4;
    grid-row: 1 / 10;
}

#s4 {
    grid-column: 5;
    grid-row: 1 / 10;
}

#s5 {
    grid-column: 6;
    grid-row: 1 / 10;
}

#s6 {
    grid-column: 7;
    grid-row: 1 / 10;
}






/*================================================================================*/
/* HandMode Content*/
/*================================================================================*/

#handModeContent {
    display: none;
    grid-column: 6;
    grid-template-columns: auto;
    grid-row: 10; 
    grid-gap: 10px;
    grid-auto-rows: auto;
}

.handModeButton {
    height: 60vh;
    width: 14vw;
    background-color: #666;
}

#h1 {
    grid-column: 1;
    grid-row: 1 / 10;
}

#h2 {
    grid-column: 2;
    grid-row: 1 / 10;
}

#h3 {
    grid-column: 3;
    grid-row: 1 / 10;
}

#h4 {
    grid-column: 4;
    grid-row: 1 / 10;
}

#h5 {
    grid-column: 5;
    grid-row: 1 / 10;
}






/*================================================================================*/
/* SNACKBAR*/
/*================================================================================*/


#snackbar {
    visibility: hidden;
    min-width: 150px;
    margin-left: -90px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    margin-bottom: 25vh;
}

/* Show the snackbar*/
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

/* Animations to fade the snackbar in */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

/*Animations to fade the snackbar in */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

/*Animations to fade the snackbar out*/ 
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

/*Animations to fade the snackbar out*/ 
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}






/*================================================================================*/
/* MEDIA QUERRYS*/
/*================================================================================*/


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    .stringModeButton{
        height: 30vh;
    }

    .handModeButton{
        height: 30vh;
    }

    #startStopButton {
        height: 60px;
    }

    .menuTitle {
        margin-left: 45vw;
        font-size: 6vh;
    }
    
    .optionTitle {
        margin-left: 5vh;
        font-size: 5vh;
        padding-bottom: 5px;
    }

}

