/*================================================================================/*
/* SIDENAV Left */
/*================================================================================/*

/* The sidenav Left */
#sidenavLeft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

/* Position and style the close button */
#sidenavLeft .closebtn {
    display: none;
}

/* The sidenavLeft headings */
#sidenavLeft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

/*container for the Scroll Speed slider*/
#sidenavLeft #slidecontainer {
    width: 100%; 
}

/* Mouse-over effects for the Scroll Speed Slider*/
#sidenavLeft .slider:hover {
    opacity: 1;
}

/*Scroll speed Slider*/
#sidenavLeft .slider {
    -webkit-appearance: none;
    width: 85%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/*scroll speed Slider appearance*/
#sidenavLeft .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

/*scroll speed Slider appearance*/
#sidenavLeft .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/*Scroll speed Slider Value*/
#sidenavLeft #sliderOutput{
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

/* The switch - the box around the slider */
#sidenavLeft .switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
#sidenavLeft .switch input {
    display:none;
}
  
/* The slider for the Switch*/
#sidenavLeft .toggel {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/*Switch point in the Slider for the switch*/
#sidenavLeft .toggel:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
/*Animation for the switch point to become green*/
#sidenavLeft input:checked + .toggel {
    background-color: #4CAF50;
}

/*Animation for the switch point to move*/
#sidenavLeft input:checked + .toggel:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
 /* Rounded sliders */
 #sidenavLeft .toggel.round {
    border-radius: 34px;
 }
  
 #sidenavLeft .toggel.round:before {
    border-radius: 50%;
}

/*Label next to the Switch*/
#sidenavLeft .switchLabel {
    font-size: large;
    align-items: center;
    color: #818181;
}

/*Mouse over Animation for the Label next to the switch*/
#sidenavLeft .switchLabel:hover {
    color: #f1f1f1;
    cursor: pointer;
 }

/*Hide Sittings for Scroll on Sound*/
#sidenavLeft #audioSetting{
    display: none;
}

/*Header for the Sound Threashold*/
#sidenavLeft .optionHeader{
    font-size: large;
}

/*SoundIcon for the Sound Threshold*/
#sidenavLeft #soundIcon{
    width: 20px;
    height: 20px;
}

/*Button for the scroll normaly*/
#sidenavLeft .button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
    border-radius: 15px;
 }
/*Mouse over Animation for the scroll nomraly buttons*/
#sidenavLeft button:hover {
    background-color: #4CAF50
}

/*On click animation of the scroll normaly buttons*/
#sidenavLeft .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}








/*================================================================================/*
/* SIDENAV RIGHT */
/*================================================================================/*

/* The sidenav Right */
#sidenavRight {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.6s;
}

/* Position and style the close button */
#sidenavRight .closebtn {
    display: none;
}

/* The sidenavRight headings */
#sidenavRight a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

/*Song names in the Side Menu*/
#sidenavRight .songName{
    font-size: large;
    align-items: center;
    color: #818181;
    width: 100%;
    padding-left: 30px;
}

/*Mouse over Animation for the song names*/
#sidenavRight .songName:hover {
    color: #f1f1f1;
    cursor: pointer;
}








/*================================================================================/*
/* MAIN */
/*================================================================================/*

/* Content that is not in the Side Menue */
#main {
    transition: margin-left .5s;
	padding: 0px;
}








/*================================================================================/*
/* MAIN - HEADER */
/*================================================================================/*

/*Header of the Page*/
#header {
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1;
	width: 100%;
	background-color: #111;
	text-align: center;
}

/*The song name on the Top*/
#header #songName {
    font-size: 33px;
    color: #ccc;
    margin: auto;
    position: relative;
}

/* The dropdown menu (dont display on non mobile version */
#header .dropdown{
    display: none;
}

/* The progress bar container*/
#header #progress-container {
	position : fixed;
	width: 100%;
	height: 8px;
	background: #ccc;
}

/* The progress bar (scroll indicator) */
#header #progress-bar {
	height: 8px;
	background: #4caf50;
	width: 0%;
}

/*The Menue icon*/
#header #menueIconContainerLeft {
    float: left;
	cursor: pointer;
	margin: auto;
}

/*bars of the menue icons*/
#header #bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: #ccc;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
#header .change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
#header .change #bar2 {
    opacity: 0;
}

/* Rotate last bar */
#header .change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* The Header of the Page */
#header #menueNameLeft{
    color: #CCC;
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

/*The Menue icon*/
#header #menueIconContainerRight {
    float: right;
	cursor: pointer;
	margin: auto;
}

/*bars of the menue icons*/
#header #bar4, #bar5, #bar6 {
    width: 35px;
    height: 5px;
    background-color: #ccc;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
#header .change #bar4 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
#header .change #bar5 {
    opacity: 0;
}

/* Rotate last bar */
#header .change #bar6 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* The name of the Right Menu */
#header #menueNameRight{
    color: #CCC;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}









/*================================================================================/*
/* MAIN - TABS */
/*================================================================================/*

/* The select a Song button that is displayed if the side is opened */
#selectASongButton {
    font-size: 7vw;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-top: 20vh;
    background-color: #111;
    color: #ccc;
}

/*The Taps displayed on the Page*/
#tabs {
    font-size: 1.5vw;
    font-family: "Luxi Mono", monospace;
    padding-top: 100px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    word-break: keep-all; /*prevent tabs from line breake if window gets to small*/
}








/*================================================================================/*
/* MAIN - SNACKBAR*/
/*================================================================================/*

/* The snackbar to count down */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/* Show the snackbar*/
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

/* Animations to fade the snackbar in */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

/*Animations to fade the snackbar in */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

/*Animations to fade the snackbar out*/ 
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

/*Animations to fade the snackbar out*/ 
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}








/*================================================================================*/
/* MEDIA QUERRYS*/
/*================================================================================*/

/* small window, adjust tab size and move it to the left to use more of the screen */
@media only screen and (max-width: 1120px) {
    #tabs{
        font-size: 1.7vw;
        padding-left: 0px;
    }
}

/* Small window remove Menue names*/
@media only screen and (max-width: 800px) {
    #menueNameRight{
        display: none;
    }
    #menueNameLeft{
        display: none;
    }
}   

/*Very small window, start stacling the song title and remove the scroll indicator and the menue buttons*/
@media only screen and (max-width: 670px) {
    #songName{
        font-size: 4.5vw;
    }
    #progress-container {
        display: none;
    }
    #menueIconContainerRight{
        display: none;
    }
    #menueIconContainerLeft{
        display: none;
    }
   
}
