/*================================================================================/*
/* SIDENAV Left */
/*================================================================================/*

/* The sidenav Left */
#sidenavLeft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 90px; 
    transition: 0.6s;
}

/* Position and style the close button */
#sidenavLeft .closebtn {
    display: block;
    position: absolute;
    top: 60px;
    right: 2vw;
    font-size: 36px;
    margin-left: 50px; 
}

/* The sidenavLeft headings */
#sidenavLeft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

/*container for the Scroll Speed slider*/
#sidenavLeft #slidecontainer {
    width: 100%;
}

/*Scroll speed Slider*/
#sidenavLeft .slider {
    -webkit-appearance: none;
    width: 85%;
    max-width: 400px;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/*scroll speed Slider appearance*/
#sidenavLeft .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

/*scroll speed Slider appearance*/
#sidenavLeft .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/*Scroll speed Slider Value Output*/
#sidenavLeft #sliderOutput{
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

/* The switch - the box around the slider */
#sidenavLeft .switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
#sidenavLeft .switch input {
    display:none;
}
  
/* The slider for the Switch*/
#sidenavLeft .toggel {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/*Switch toggel in the Slider for the switch*/
#sidenavLeft .toggel:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
/*Animation for the switch point to become green*/
#sidenavLeft input:checked + .toggel {
    background-color: #4CAF50;
}

/*Animation for the switch point to move*/
#sidenavLeft input:checked + .toggel:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

 /* Rounded sliders */
#sidenavLeft .toggel.round {
    border-radius: 34px;
 }

 /* Rounded sliders */
#sidenavLeft .toggel.round:before {
    border-radius: 50%;
}

/*Label next to the Switch*/
#sidenavLeft .switchLabel {
    font-size: large;
    align-items: center;
    color: #818181;
}

/*Hide Sittings for Scroll on Sound*/
#sidenavLeft #audioSetting{
    display: none;
}

/*Header for the Sound Threashold*/
#sidenavLeft .optionHeader{
    font-size: large;
    position: absolute;
}

/*SoundIcon for the Sound Threshold*/
#sidenavLeft #soundIcon{
    width: 20px;
    height: 20px;
}

/*Button for the scroll normaly*/
#sidenavLeft .button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

/*On click animation of the scroll normaly buttons*/
#sidenavLeft .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}








/*================================================================================/*
/* SIDENAV RIGHT */
/*================================================================================/*

/* The sidenav Right */
#sidenavRight {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 90px; 
    transition: 0.6s;
}

/* Position and style the close button */
#sidenavRight .closebtn {
    display: block;
    position: absolute;
    top: 60px;
    right: 2vw;
    font-size: 36px;
    margin-left: 50px; 
}

/* The sidenavRight headings */
#sidenavRight a {
    padding: 8px 8px 8px 5vw;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

/*Song names in the Side Menu*/
#sidenavRight .songName{
    font-size: large;
    align-items: center;
    color: #818181;
    width: 100%;
    padding-left: 6vw;
}








/*================================================================================/*
/* MAIN */
/*================================================================================/*

/* Content that is not in the Side Menue */
#main {
	padding: 0px;
}








/*================================================================================/*
/* MAIN - HEADER */
/*================================================================================/*

/*Header of the Page*/
#header {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 20px;
    grid-row: 2; 
    grid-gap: 10px;
    grid-auto-rows: auto;
	position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	background-color: #111;
    text-align: center;
    z-index: 1;
    height: 18.5vw;
}

/*The song name on the Top*/
#header #songName {
    grid-column: 1;
    grid-row: 1;
    font-size: 7vw;
    max-width: 400px;
    color: #ccc;
    margin: 0 auto;
}

/* The progress bar container*/
#header #progress-container {
    display: none;
}

/* The progress bar (scroll indicator) */
#header #progress-bar {
    display: none;
}

/*The Menue icon Left*/
#header #menueIconContainerLeft {
    display: none;
}

/*The Menue icon Right*/
#header #menueIconContainerRight {
    display: none;
}

/* The Menue Name Left */
#header #menueNameLeft{
    display: none;
}

/* The Menue Name Right */
#header #menueNameRight{
    display: none;
}

/* The dropdown Menu Icon */
#header .dropdownMenuIcon {
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
    margin-top: 3vw;
}

/* The style of the thre dots of the Dropdown menu*/
#header .dropdownMenuIcon li {
    background: none repeat scroll 0 0 #fff;
    height: 8px;
    width: 8px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 6px;
    vertical-align: top;
    border-radius:50%;
    pointer-events: none;
}

/* The dropdown Menu container */
#header .dropdown {
    position: absolute;
    display: inline-block;
    right: 0.4em;
}

/* Dropdown Content (Hidden by Default) */
#header .dropdown-content {
    display: none;
    position: absolute;
    top: 17vw;
    right: 0;
    background-color: #111;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Content of the dropdown menu */
#header .dropdown-content .option {
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu */
#header .show {display:block;}









/*================================================================================/*
/* MAIN - TABS */
/*================================================================================/*

/* The select a Song button that is displayed if the side is opened */
#selectASongButton {
    font-size:10vw;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-top: 25vh;
    background-color: #111;
    color: #ccc;
}

/*The Taps displayed on the Page*/
#tabs{
    font-size: 2vw;
    font-family: "Luxi Mono", monospace;
    padding-top: 150px;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    font-weight: bold;
    word-break: keep-all; /*prevent tabs from line breake if window gets to small*/
}








/*================================================================================*/
/* MAIN - SNACKBAR*/
/*================================================================================*/

/* The snackbar to count down */
#snackbar {
    visibility: hidden;
    min-width: 150px;
    margin-left: -90px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/* Show the snackbar*/
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

/* Animations to fade the snackbar in */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

/*Animations to fade the snackbar in */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

/*Animations to fade the snackbar out*/ 
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

/*Animations to fade the snackbar out*/ 
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}








/*================================================================================*/
/* MEDIA QUERRYS*/
/*================================================================================*/

/* limit scale of the song tile and the header */
@media only screen and (min-width: 400px) {
    #header #songName {
        font-size: 30px;
    } 
    #header {
        height: 70px;
    }
    #header .dropdownMenuIcon {
        margin-top: 15px;
    }
    #header .dropdown-content {
        top: 70px;
    }
}
